<main>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a><img class="brand-logo " src="./assets/images/logo.png"></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="#">Post</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Register</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <section id="landingSearchPage">
            <form id="searchBox">
                <h2>SEARCH YOUR PARADISE</h2>
                <div class="row">
                    <input id="inputPlaceToSearch" class="col s12 m10" type="search" placeholder="Let's make some advantures" required>
                    <a>
                        <input id="btnSearch" class="col s12 m2" type="button">
                    </a>
                </div>
            </form>
        </section>
        <div class="bigMask">
        </div>
        <section id="popularPlaces" class="row">
            <div class="col m3 onePlace hvr-grow">
                <img src="./assets/images/paris.jpeg">
                <h3>Paris</h3>
                <p><i class="material-icons">wb_sunny</i>&ensp;Great</p>
            </div>
            <div class="col m3 onePlace hvr-grow">
                <img src="./assets/images/london.jpeg">
                <h3>London</h3>
                <p><i class="material-icons">beach_access</i>&ensp;Rainy</p>
            </div>
            <div class="col m3 onePlace hvr-grow">
                <img src="./assets/images/newyork.jpeg">
                <h3>New York</h3>
                <p><i class="material-icons">flash_on</i>&ensp;Storm</p>
            </div>
            <div class="col m3 onePlace hvr-grow">
                <img src="./assets/images/italy.jpg">
                <h3>Italy</h3>
                <p><i class="material-icons">cloud</i>&ensp;Cloudy</p>
            </div>
        </section>
         <div id="generalPopular" class="row">
            <div class="abcd">
                <h2>Popular</h2>
            </div>
            <div class="card col m3 destinationCard z-depth-4 ">
                <div class="card-image z-depth-2 ">
                    <img class="imageCard" src="http://wallpapercave.com/wp/1zDUMBP.jpg">
                    <span class="card-title ">New York</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information
                    </p>
                </div>
                <div class="card-action">
                    <div class="colorIcon">
                        <span><i class="small material-icons">favorite</i>11</span>
                    </div>
                    <div class="colorIcon">
                        <span><i class="small material-icons">comment</i>&nbsp;35</span>
                    </div>
                </div>
            </div>
 
            <div class="card col m3  destinationCard z-depth-4 ">
                <div class="card-image z-depth-2 ">
                    <img class="imageCard" src="http://www.hdwallpapersfreedownload.com/uploads/large/cities/italy-hd.jpg">
                    <span class="card-title ">Italy</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information
                    </p>
                </div>
                <div class="card-action">
                    <div class="colorIcon">
                        <span><i class="small material-icons">favorite</i>11</span>
                    </div>
                    <div class="colorIcon">
                        <span><i class="small material-icons">comment</i>&nbsp;35</span>
                    </div>
                </div>
            </div>

            <div class="card col m3  destinationCard z-depth-4 ">
                <div class="card-image z-depth-2 ">
                    <img class="imageCard" src="http://tremendouswallpapers.com/wp-content/uploads/2014/12/amazing_eiffel_tower_paris_hd_travel_photos_and_wallpapers.jpg">
                    <span class="card-title ">Paris</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information
                    </p>
                </div>
                <div class="card-action">
                    <div class="colorIcon">
                        <span><i class="small material-icons">favorite</i>11</span>
                    </div>
                    <div class="colorIcon">
                        <span><i class="small material-icons">comment</i>&nbsp;35</span>
                    </div>
                </div>
            </div>
        </div>
        <section class="row">
            <div class="card col m3 destinationCard  z-depth-4 ">
                <div class="card-image  z-depth-2">
                    <img class="imageCard" src="http://khohinhnen.com/wp-content/uploads/2015/01/hinh-anh-nha-trang-dep-7.jpg">
                    <span class="card-title">Nha Trang</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    </p>
                </div>
                <div class="card-action">
                    <div class="colorIcon">
                        <span><i class="small material-icons">favorite</i>11</span>
                    </div>
                    <div class="colorIcon">
                        <span><i class="small material-icons">comment</i>&nbsp;35</span>
                    </div>
                </div>
            </div>
            <div class="card col m3 destinationCard z-depth-4">
                <div class="card-image z-depth-2">
                    <img class="imageCard" src="http://madagui.com.vn/assets/uploads/2016/04/nhung-tia-nang-ban-mai-nd-large.jpg">
                    <span class="card-title">Da Lat</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    </p>
                </div>
                <div class="card-action">
                    <div class="colorIcon">
                        <span><i class="small material-icons">favorite</i>11</span>
                    </div>
                    <div class="colorIcon">
                        <span><i class="small material-icons">comment</i>&nbsp;35</span>
                    </div>
                </div>
            </div>
            <div class="card col m3 destinationCard z-depth-4">
                <div class="card-image z-depth-2">
                    <img class="imageCard" src="http://www.hdwallpapers.in/walls/hong_kong-wide.jpg">
                    <span class="card-title">Hong Kong</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    </p>
                </div>
                <div class="card-action">
                    <div class="colorIcon">
                        <span><i class="small material-icons">favorite</i>11</span>
                    </div>
                    <div class="colorIcon">
                        <span><i class="small material-icons">comment</i>&nbsp;35</span>
                    </div>
                </div>
            </div>
        </section>

    <footer class="page-footer footer">        
            <div class="row">
              <div class="col m3 footerpart">
                <h4 class="white-text">About Us</h4>
                <p class="grey-text text-lighten-4">We are a DEV TEAM from 13CTT3. Our aim is to make well-designed website for Vietnamese.</p>
              </div>
              <div class="col m3 footerpart">
                <h4 class="white-text">Contact</h4>
                <p class="grey-text text-lighten-4">You can easily contact us by this gmail hoangthaison985@gmail.com or call directly 016597335597 if you need any supporting.</p>
              </div>
              <div class="col m3 footerpart">
                <h4 class="white-text">Social Media</h4>
                <div >
                <img class="small circle responsive-img iconfooter" src="./assets/images/fbicon.png">
                <img class="small circle responsive-img iconfooter mediafooter" src="./assets/images/twicon.png">
                <img class="small circle responsive-img iconfooter mediafooter" src="./assets/images/insicon.png">
                <!-- <img class="avatar circle responsive-img" src="images/fbicon.jpg"> -->
                </div>
              </div>
            </div>
          
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">OUR TEAM WEBSITE</a>
            </div>
          </div>
    </footer>
</main>